<div class="row">
<div class="col s6 offset-s3">
<div class="card-panel white valign">
  <div class="row">
    <form name="contact" class="col s12" netlify>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" name="nombre" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="apellido" type="text" class="validate">
          <label for="last_name">Apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="correo" type="email" class="validate">
          <label for="email">Correo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name="mensaje" class="materialize-textarea"></textarea>
          <label for="textarea1">Mensaje</label>
        </div>
      </div>
      <div class="row">
      <div class="col s12">
      <a class="waves-effect waves-light btn">Enviar</a>
      </div>
      </div>
    </form>
  </div>
  </div>
  </div>
  </div>

  <form name="contact" action="thank-you" netlify>
  <p>
    <label>Your Name:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Your Email</label>
    <input type="email" name="email">
  </p>
  <p>
    <label>Message</label>
    <textarea name="message"></textarea>
  </p>
  <p>
    <button>Send</button>
  </p>
</form>
        