  <div class="nav-wrapper transparent">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text">
        <img class="responsive-img" src="./assets/img/logo.png" alt="aula8">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="#">Inicio</a></li>
        <li><a class="white-text" [routerLink]="['/inicio']">Servicios</a></li>
        <li><a class="white-text" [routerLink]="['/galeria']">Galeria</a></li>
        <li><a class="white-text" [routerLink]="['/contacto']">Contacto</a></li>


        
      </ul>

      <ul id="nav-mobile" class="side-nav" materialize="sideNav">
        <li><a href="#">Inicio</a></li>
        <li><a [routerLink]="['/inicio']">Servicios</a></li>
        <li><a [routerLink]="['/galeria']">Galeria</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  </div>
  <main>
  <router-outlet></router-outlet>
  </main>
    <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Total Autos</h5>
          <p class="white-text"> Somos un centro especializado en pulitura
          de la prestigiosa Marca 3M. Combinamos su sistema con productos importados de la mejor calidad para ofrecer un servicio garantizado</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Tienes algun comentario?</h5>
          <div class="row">
            <form>
            <div class="input-field col s12">
                <input id="msj" type="text" class="validate">
                <label pfor="msj">Mensaje</label>
            </div>
            </form>
            &nbsp;&nbsp;
            <button class="btn-small waves-effect waves-light" type="submit" name="action">Enviar
            </button>
            
            </div>
            </div>

        <div class="col l3 s12">
          <h5 class="white-text">Síguenos en las redes</h5>
          <ul>
            <a href="https://www.instagram.com/totalautospzo" target="_blank"><img src="./assets/img/instagram.png"></a>
            &nbsp;
            <a href="https://facebook.com/totalautospzo/" target="_blank"><img src="./assets/img/facebook.png"></a>
            <a href="https://www.netlify.com">
            <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg">
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey lighten-1">
      <div class="container">
      </div>
    </div>
  </footer>
