<div class="nav-wrapper transparent">
    <ul id="dropdown1" class="dropdown-content">
        <li><a [routerLink]="['/cita']">Realizar cita</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/servicios']">Información</a></li>
    </ul>
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo white-text">
                <img class="responsive-img" src="./assets/img/logo.png" alt="aula8">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a class="white-text" href="#">Inicio</a></li>
                <li><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Servicios<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="white-text" [routerLink]="['/galeria']">Galeria</a></li>
                <li><a class="white-text" [routerLink]="['/contacto']">Contacto</a></li>




            </ul>

            <ul id="nav-mobile" class="side-nav" materialize="sideNav">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="./assets/img/background2.png">
                        </div>
                        <a href="#!user"><img src="./assets/img/logo.png"></a>
                        <a href="#!name"><span class="white-text name">{{username}}</span></a>
                        <a href="#!email"><span class="white-text email">{{email}}</span></a>
                    </div>
                </li>
                <li><a href="#">Inicio</a></li>
                <li><a [routerLink]="['/inicio']">Servicios</a></li>
                <li><a [routerLink]="['/galeria']">Galeria</a></li>
                <li><a [routerLink]="['/contacto']">Contacto</a></li>

            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i>
      </a>

        </div>
    </nav>
</div>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Total Autos</h5>
                <p class="white-text"> Somos un centro especializado en pulitura de la prestigiosa Marca 3M. Combinamos su sistema con productos importados de la mejor calidad para ofrecer un servicio garantizado</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contacto</h5>
                <div class="row">
                    <div class="col s12 white-text">
                        <i class="material-icons white-text">contact_phone</i> 0286 951 8162
                    </div>
                    <div class="col s12 white-text">
                        <i class="material-icons white-text">email</i> totalautos01@gmail.com
                    </div>
                </div>
            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Síguenos</h5>
                <ul>
                    <a href="https://www.instagram.com/totalautospzo" target="_blank"><img src="./assets/img/instagram.png"></a>
                    &nbsp;
                    <a href="https://facebook.com/totalautospzo/" target="_blank"><img src="./assets/img/facebook.png"></a>
                    <br>
                    <a href="https://www.netlify.com">
                        <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg">
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey lighten-1">
        <div class="center">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Total Autos</span> by <a xmlns:cc="http://creativecommons.org/ns#"
                href="totalautos.com.ve" property="cc:attributionName" rel="cc:attributionURL">Joan Gil</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br
            />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="totalautos.com.ve" rel="dct:source">totalautos.com.ve</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#"
                href="totalautos.com.ve " rel="cc:morePermissions">totalautos.com.ve </a>.
            <div class="container">
            </div>
        </div>
    </div>
</footer>