<div class="slider">
    <ul class="slides">
      <li>
        <img src="./assets/img/background1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Embellece y cuida tu vehículo con los mejores.</h3>
          <h5 class="light grey-text text-lighten-3">Mejores productos, mejores profesionales, mejor cuidado</h5>
        </div>
      </li>
      <li>
        <img src="./assets/img/background2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Nuestra prioridad es tu vehículo</h3>
          <h5 class="light grey-text text-lighten-3">Por eso usamos productos duraderos y garantizados en el tiempo</h5>
        </div>
      </li>
      <li>
        <img src="./assets/img/background3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Lo hacemos, y te decimos cómo hacerlo</h3>
          <h5 class="light grey-text text-lighten-3">Encuentra tips y guías para cuidar tu vehículo</h5>
        </div>
      </li>
      <li>
        <img src="./assets/img/background4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>¡Sistema de pulitura en 3 pasos!</h3>
          <h5 class="light grey-text text-lighten-3"> Con garantía de 6 meses, logramos un brillo y una protección superior </h5>
        </div>
      </li>
    </ul>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Servicios de calidad</h5>

            <p class="light">  Combinamos los mejores métodos, técnicas y productos para conseguir resultados mejores
            a los esperados</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text "><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Resultados garantizados</h5>

            <p class="light"> Nuestros sistemas permiten obtener un buen resultado al momento y además que perdure en el tiempo</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-darken-4-text"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">Atención personalizada</h5>

            <p class="light"> Recomendamos lo que necesita tu vehículo, sin ofertas engañosas ni servicios asociados. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="row center">
    <div class="section no-pad-bot">
      <div class="container">
          <h5 class="header col s12 dark"> Deja tu vehículo en las manos de los expertos</h5> 
          <a href="http://materializecss.com/getting-started.html" id="contact-button" class="btn-large waves-effect waves-light blue-grey darken-4">Contacta ahora</a>
        </div>
      </div>
    </div>
    <div class="parallax" materialize="parallax"><img src="./assets/img/parallax1.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>¿Por qué total Autos?</h4>
          <p class="left-align light">Total autos es líder en la zona con más de 5 años de experiencia y único en ofrecer 6 meses de garantía de brillo. Cuando se trata de tu inversión, debes cuidarla con los mejores.
          Nuestros trabajadores están para ofrecerte la mejor solución que se adapte a tu bolsillo y a tus necesidades.
          Si deseas hacerlo tú mismo, te explicamos cómo, lo importante es que mantengas tu vehículo como nuevo.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="row center">
    <div class="section no-pad-bot">
      <div class="container">
          <h5 class="header col s12 white-text"> Un brillo superior al de agencia</h5> 
          <a href="http://materializecss.com/getting-started.html" id="contact-button" class="btn-large waves-effect waves-light blue-grey darken-4">Visita la galeria</a>
        </div>
      </div>
    </div>
    <div class="parallax" materialize="parallax"><img src="./assets/img/parallax2.jpg" alt="Unsplashed background img 2"></div>
  </div>


      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4> ¿Cuales son los 3 pasos de la pulitura 3M?</h4>
          <p class="left-align light"> El sistema perfect-it de 3M consta de el uso de micro abrasivos que eliminan impurezas y dejan la pintura como nueva, acompañado de ceras abrillantadoras que eliminan las marcas del paso previo y dan un acabado superior, para finalmente sellar el trabajo, consiguiendo una protección superior con ceras que den un acabado de lujo y perduren en el tiempo. Actualmente 3M posee un sistema Perfect-it One, así como otras marcas usan otros sistemas. En total autos preferimos la combinación de los sistemas de 3M, usando productos de la misma casa para lograr el mejor resultado. 
          </p>
        </div>
      </div>

<div class= "row center">
<a class="waves-effect waves-light btn modal-trigger blue-grey darken-4" (click)="openModal()">Conoce más</a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal bottom-sheet" materialize="modal"[materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
            <div class="modal-content">
                <h4 class="black-text">Compuestos 3M</h4>
                <div class="row">
                  <div class="col s12 m4">
                    <br>
                    <img src="./assets/img/paso1.png">
                    <h5 class="center black-text"> Compuesto pulidor </h5>
                    <p class="center black-text"> También denominado Rubbing, es el compuesto que contiene microabrasivos que eliminan marcas de oxidación y rayaduras medianas y leves, así como también marcas de lija hasta grano p1200 y marcas de agua. </p>
                  </div>
                  <div class="col s12 m4">
                    <br>
                    <img src="./assets/img/paso2.png">
                    <h5 class="center black-text"> Compuesto para abrillantar </h5>
                    <p class="center black-text"> Con la superficie como nueva, este compuesto está diseñado para dejar un brillo extraordinario, eliminando las marcas que deja el primer paso y protegiendo la pintura. </p>
                  </div>

                  <div class="col s12 m4">
                    <br>
                    <img src="./assets/img/paso3.png">
                    <h5 class="center black-text">Abrillantador ultrafino</h5>
                    <p class="center black-text"> Este compuesto está diseñado para eliminar las marcas de remolinos más persistentes, incluso en carros oscuros. Este compuesto deja un acabado de exhibición y es esencial para un acabado duradero. </p>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                 <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>

                <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cool!</a>
            </div>
          </div>
          </div>